<!DOCTYPE html>
<html lang="en">
<head>
    <title>Установка</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
        html, body {
        }
        .main {
            border: solid 10px #f5f5f5;
            border-radius: 30px;
            margin: 70px auto;
            padding: 30px;
            width: 700px;
        }
        .main h1 {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="main">
            {% block content '' %}
        </div>
    </div>
</body>
